@media only screen  and (min-width: 1200px) and (max-width: 5000px) {
/* NOTE: Fonts
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
 */
h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;}
p, a, button{
    font-family: 'Roboto', sans-serif;}
/* NOTE: NAVIGATION BAR */
.navbar-default{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 175px;
    margin: 0;
    border-radius: 0;
    background-color: white;}
.navbar-collapse{
    position: relative;
    top: 25%;
    padding: 0;}
.nav li{
    width: 100%;}
.nav li:hover{
    background-color: rgba(255, 255, 255, 0.8);}
.nav li a{
    font-size: 16px;
    padding: 15px 30px;}
.navbar-nav li:hover{
    background-color: rgba(225, 225, 225, 0.5);}
/* Text color in menu */
.navbar-default .navbar-nav li a{
    color: #333333;}
/* Logo place */
.logo{
    margin: 20px;
    padding-top: 50px;
    width: 130px;
    height: auto;}
/* Social Icons */
.fa{
    position: relative;
    top: -80px;
    float: right;
    padding: 9px;
    font-size: 22px;
    width: 40px;
    height: 39px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #333333;}
.fa:hover{
    opacity: 0.7;}
.fa-facebook{
    margin: 20px 50px 20px 20px;
    background: #0077B5;
    color: white;}
.fa-instagram{
    margin: 20px 20px 20px 50px;
    background-color: #833ab4;
    color: white;}
.coverPic{
  opacity: 0.6;}
/* BODY SETTINGS */
.body{
    height: 100%;
    margin-left: 175px;}
/* Cover photo */
.cover{
    width: 100%;
    height: auto;
    opacity: 0.7;}
.carousel-caption h3{
    font-size: 48px;}
.carousel-caption p{
  font-size: 24px;}
/* Button settings */
.service-btn{
    width: 120px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    padding: 5px 20px;
    font-size: 16px;
    color: #0288D1;
    border: 0.5px solid #B39DDB;
    border-radius: 20px;
    box-shadow: 0px 15px 10px -10px  rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;}
.service-btn:hover{
    border: 0.5px solid #B39DDB;
    background-color: #D1C4E9;
    color: white;
    box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -5px);}
.btn-default{
    display: block;
    margin: auto;}
/* NOTE: Section - SERVICE */
.service{
    margin-bottom: 50px;
    padding: 0 30px;}
.pic{
    width: 100%;
    height: auto;
    box-shadow: 0 1px 3px #888;
    opacity: 0.9;}
.service h3{
    margin: 15px 0;
    font-size: 22px;}
.service p{
    text-align: center;
    padding: 0 5px;}
/* NOTE: Section - ABOUT */
.about{
    margin-top: 50px;
    margin-bottom: 30px;}
.about-pic{
    width: 520px;
    height: 300px;
    background-image: url(img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;}
.about-pic p{
    padding: 90px 50px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: black;}
/* INFO - Modal Button */
.btn-danger{
    position: relative;
    top: -15px;
    display: block;
    margin: auto;}
/* Modal BOX */
.modal-content{
    position: relative;
    top: 150px;
    left: 85px;
    text-align: center;}
.modal-body p{
    margin: 0;
    padding: 30px 50px;
    color: #333333;}
.modal-body a{
    padding: 5px 15px;
    border-radius: 20px;
    border: 0.5px solid #B39DDB;
    color: #0288D1;}
.modal-body a:hover{
    text-decoration: none;
    background-color: rgba(225, 225, 225, 0.4);}
/* NOTE: Section - TEAM */
.team-pic{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 1px 3px #999999;
    opacity: 0.9;}
.team{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;}
.team-service{
    display: inline-block;
    margin: 0 80px;}
.team-service h3{
    margin: 10px 0;}
.team-service p{
    padding: 0 20px;}
.viber{
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;}
/* NOTE: Section - FOOTER */
.footer{
    position: relative;
    bottom: -20px;
    height: 200px;
    background-color: #F5F5F5;
    border-top: 0.3px solid #DCDCDC;}
.footer-logo{
    float: left;
    position: relative;
    left: 40px;
    width: 100px;
    height: auto;
    margin: 35px;}
.footer-contact{
    position: relative;
    top: 20px;
    margin: auto;
    width: 250px;
    height: 80px;}
.footer-contact a{
    color: #0288D1;
    text-decoration: none;}
    :hover{
        text-decoration: none;}
.footer-contact h4, p{
    text-align: center;
    margin: 0;}
.footer-contact p{
    margin-top: 10px;}
.copyright{
    position: relative;
    top: 10px;
    font-size: 12px;}
.copyright a:hover{
    text-decoration: none;}
/* NOTE: Parodontologija, Oralna hirurgija, Protetika */
.sections{
    margin: 0;
    padding: 0 200px;
    box-sizing: border-box;}
.sections h3{
    margin: 30px;}
.naslov{
    margin: 0;
    margin-bottom: 50px;}
.tekst{
    font-size: 16px;
    line-height: 1.40em;
    color: #333;}
.pager{
    margin: 50px 0;}
.pager li{
    padding: 0 15px;}
/* NOTE: SERVICE PAGE - page 2 */
.service-menu{
    margin: 50px auto;
    height: 230px;
    width: 700px;
    box-shadow: 1px 1px 10px #444444;
    border-radius: 10px;
    box-sizing: border-box;}
.service-menu-estetic{
    height: 350px;
    width: 700px;
    margin: 50px auto;
    box-shadow: 1px 1px 10px #444444;
    border-radius: 10px;
    box-sizing: border-box;
}
.service-menu-estetic p{
  text-align: left;
}
.service-menu:last-child{
    margin-bottom: 100px;}
.service-photo{
    float: left;
    width: 150px;
    height: auto;
    margin: 25px;}
.service-header{
    margin-bottom: 50px;}
.service-header h1{
    margin: 0;}
.service_details{
    float: left;
    width: 400px;
    margin: 20px;}
.header h3{
    margin: 0;
    font-size: 24px;}
.details{
    margin-top: 20px;
    padding: 0 40px 40px 40px;
    text-align: justify;}
.button-service{
    margin-bottom: 100px;}
/* NOTE: ABOUT PAGE - page 3 */
.about-text{
    margin: auto;
    width: 600px;
    font-size: 16px;
    line-height: 1.40em;
    color: #333;}
.about-team{
    margin: 40px;
    box-sizing: border-box;}
/* NOTE: CONTACT PAGE - page 4 */
.team-contact{
    margin-bottom: 100px;}
.team-con p{
    padding: 0;}
.map{
    width: 85%;
    height: 450px;
    display: block;
    margin: auto;
    margin-bottom: 100px;}
}
