@media only screen  and (max-width: 767px) {
/* NOTE: Fonts
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;}
p, a, button{
    font-family: 'Roboto', sans-serif;}
/* NOTE: NAVIGATION BAR */
.navbar-default{
    margin: 0;
    border-radius: 0;}
.nav li{
    text-align: center;}
.nav li a{
    font-size: 16px;}
/* Logo place */
.logo{
    position: relative;
    top: 10px;
    left: 30px;
    width: 70px;
    height: auto;}
/* Menu */
.navbar-toggle{
    border-radius: 100%;
    height: 41px;
    margin-right: 20px;
    margin-top: 13px;}
/* Social Icons */
.social-icons{
    display: none;}
.fa{
    float: right;
    padding: 9px;
    font-size: 22px;
    width: 40px;
    height: 39px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #333333;}
.fa:hover{
    opacity: 0.7;}
.fa-facebook{
    margin: -60px 25px 0 0;
    background: #0077B5;
    color: white;}
.fa-instagram{
    margin: 0 25px 0 0;
    background-color: #833ab4;
    color: white;}
/* Cover photo */
.mobile-cover{
    display: none;}
.coverPic{
    opacity: 0.6;
    width: auto;
    height: 150px;}
.carousel{
  margin-bottom: 2px;}
.carousel-indicators{
  position: absolute;
  bottom: 0;}
.carousel-caption{
  padding: 5px;
  text-shadow: 1px 1px 10px #333;}
.carousel-caption h3{
  font-size: 28px;}
ol{
  margin-bottom: 0;}
.item h3{
  margin: 0;}
/* Button settings */
.service-btn{
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 5px 15px;
    font-size: 14px;
    color: #0288D1;
    border: 0.5px solid #B39DDB;
    border-radius: 20px;
    box-shadow: 0px 15px 10px -10px  rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;}
.service-btn:hover{
    border: 0.5px solid #B39DDB;
    background-color: #D1C4E9;
    color: white;
    box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -5px);}
.btn-default{
    display: block;
    margin: auto;}
/* NOTE: Section - SERVICE */
.service{
    padding: 0;
    border-bottom: 1px solid white;}
.service h3{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    background-color: rgba(225, 225, 225, 0.4);}
.service p{
    display: none;}
.pic{
    width: 100%;
    height: auto;}
/* NOTE: Section - ABOUT */
.about{
    margin-top: 30px;}
.about-pic{
    width: 100%;
    height: auto;
    background-image: url(img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;}
.about-pic p{
    padding: 30px 50px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: black;}
/* INFO - Modal Button */
.btn-danger{
    position: relative;
    top: -25px;
    display: block;
    margin: auto;}
/* Modal BOX */
.modal-content{
    position: relative;
    top: 100px;
    text-align: center;}
.modal-body p{
    margin: 0;
    padding: 30px 50px;
    color: #333333;}
.modal-body a{
    padding: 5px 15px;
    border-radius: 20px;
    border: 0.5px solid #B39DDB;
    color: #0288D1;}
.modal-body a:hover{
    text-decoration: none;
    background-color: rgba(225, 225, 225, 0.4);}
/* NOTE: Section - TEAM */
.team-pic{
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 1px 3px #999999;
    opacity: 0.9;}
.team{
    margin-top: 20px;
    text-align: center;}
.team-service{
    margin: 50px 0;}
.team-service h3{
    margin: 5px 0;
    font-size: 16px;}
.team-service:last-child{
    margin-bottom: 25px;}
.viber{
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;}
/* NOTE: Section - FOOTER */
.footer{
    height: 160px;
    background-color: #F5F5F5;
    border-top: 0.3px solid #DCDCDC;}
.footer-logo{
    display: none;}
.footer-contact{
    position: relative;
    top: 10px;
    margin: auto;
    width: 180px;
    height: 80px;}
.footer-contact h4{
    margin: 5px 0;
    text-align: center;}
.footer-contact p{
    margin-top: 5px;
    text-align: center;
    line-height: 1.0em;}
.copyright{
    position: relative;
    top: 10px;
    font-size: 10px;}
.copyright a:hover{
    text-decoration: none;}
/* NOTE: Parodontologija, Oralna hirurgija, Protetika */
.sections{
    margin: 0 30px;}
.sections h3{
    margin: 30px;}
.naslov{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;}
.tekst{
    font-size: 16px;
    line-height: 1.40em;
    color: #333;}
.pager{
    margin: 50px 0;}
.pager li{
    padding: 0 15px;}
/* NOTE: SERVICE PAGE - page 2 */
.service-header h2{
    margin: 0;
    padding: 30px 0 0 0;}
.service-menu{
    margin: 50px auto;
    height: auto;
    width: 70%;
    box-shadow: 1px 1px 10px #444444;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;}
.service-menu-estetic{
  margin: 50px auto;
  height: auto;
  width: 70%;
  box-shadow: 1px 1px 10px #444444;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;}
.service-menu-estetic p{
  text-align: left;}
.service-photo{
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 150px;
    height: auto;
    opacity: 0.8;}
.header h3{
    margin: 0;
    font-size: 22px;}
.service_details{
    margin-top: 15px;}
.details{
    margin-top: 15px;
    padding: 0 25px 25px 25px;
    text-align: center;}
.button-service{
    margin-top: 50px;
    margin-bottom: 50px;}
/* NOTE: ABOUT PAGE - page 3 */
.about-team h3{
    margin: 10px 0 5px 0;}

.about-team p{
  font-size: 10px;}
/* NOTE: CONTACT PAGE - page 4 */
.cover{
  width: 100%;
  height: auto;
  opacity: 0.7;}
.team-contact{
    margin-bottom: 50px;}
.team-con p{
    margin: 0;
    padding: 0;}
.map{
    width: 95%;
    height: 250px;
    display: block;
    margin: auto;
    margin-bottom: 50px;}
}
