/* font-family: 'Roboto Slab', serif; */

body{
    margin: 0;
    padding: 0;
    height: 100%;}


/* DESKTOP */
@media only screen  and (min-width: 1200px) {

.container{
    height: 100%;
    font-family: 'Roboto Slab', serif;}


/* Header */
.navbar-inverse .navbar-brand{
    color: white;}

.navbar-inverse .navbar-brand:hover{
    color: #f44336;}

.navbar-inverse{
    border-radius: 0;
    box-shadow: 0 0 3px #111;}

.navbar-inverse .navbar-nav li a{
    color: white;}

.navbar-inverse .navbar-nav li a:hover{
    color: #f44336;}

/* Cover picture */
.cover{
    position: relative;
    top: -20px;
    width: 100%;
    height: auto;
    opacity: 0.9;
    box-shadow: 0 0 3px #333;}


/*  Profile picture */
.profil{
    position: relative;
    top: -80px;
    display: block;
    margin: auto;
    width: 120px;
    height: auto;
    border-radius: 100%;
    box-shadow: 1px 1px 6px #333;}


/*  About */
.about{
    position: relative;
    top: -30px;}

.text{
  margin-bottom: 100px;
    font-size: 16px;
    color: #333333;}
.text i{
    color: #00c6c6;}



/*  Section */

#row{
  position: relative;
  top: 100px;
  margin-bottom: 100px;}

.section{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;}

.about_text{
    position: relative;
    margin:0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;}

.about_text p{
    margin-bottom: 20px;}

.about_text a{
    color: #337ab7;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;}


/*  Portfolio */
.portfolio{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    height: 320px;
    width: 400px;
    box-shadow: 2px 2px 15px #333;}

.img{
    margin: 10px;
    width: 380px;
    height: 200px;
    opacity: 0.8;}

.heading{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 1;}
.heading h1{
    font-size: 54px;
    text-shadow: 0 3px 6px #333;}


/*  Design */
.design{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    height: 320px;
    width: 400px;
    box-shadow: 2px 2px 15px #333;}

.img_2{
    margin: 10px;
    width: 380px;
    height: 200px;
    opacity: 0.8;}

.heading_2{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 1;}

.heading_2 h1{
    font-size: 54px;
    text-shadow: 0 3px 6px #333;}

.about_behance{
    position: relative;
    top: 10px;
    margin:0;
    padding-left: 15px;
    font-size: 14px;}

.about_behance p{
    margin-bottom: 20px;}

.about_behance a{
    cursor: pointer;}

#behance{
    margin: 0;
    padding: 0;}

.my_work{
    margin: 10px;
    width: 380px;
    height: 200px;
    opacity: 0.7;}

/* Skills */
.skills{
    position: relative;
    top: 100px;
    margin-bottom: 120px;
    font-size: 26px;
    color: #333;}

.bar{
    position: relative;
    top: 20px;
    width: 350px;
    margin: auto;}
#bar_title{
    margin: 0;
    font-size: 16px;}

.progress{
    height: 10px;
    border: 1px solid #333;}
.progress-bar{
    background-color: #f44336;}


/* Footer */
.footer{
    position: relative;
    top: 130px;
    height: 180px;
    background-color: #333;
    text-align: center;
    box-shadow: 0 0 3px #333;}

.fa{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;}
.fa:hover{
    opacity: 0.7;}

.fa-instagram{
    background-color: #833ab4;
    color: white;}

.fa-linkedin{
    background: #0077B5;
    color: white;}

.fa-youtube{
    background: #e52d27;
    color: white;}

.mail a{
  position: relative;
  top: 30px;
  padding: 3px 5px;
  font-style: italic;
  font-size: 14px;
  color: white;
  text-decoration: none;
  border: 1px solid #C6FF00;
  border-radius: 6px;}
.mail a:hover{
  color: #f44336;}


#copyright{
    position: relative;
    top: 70px;
    color: white;
    font-size: 12px;}



}