@media only screen  and (min-width: 768px) and (max-width: 1199px) {
/* NOTE: Fonts
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/
h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;}
p, a, button{
    font-family: 'Roboto', sans-serif;}
/* NOTE: NAVIGATION BAR */
.navbar-default{
    margin: 0;
    border-radius: 0;}
.nav li{
    text-align: center;}
/* Logo place */
.logo{
    position: relative;
    left: 30px;
    width: 90px;
    height: auto;
    margin: 10px;}
.cover{
    width: 100%;
    height: auto;
    opacity: 0.7;}
.coverPic{
    opacity: 0.7;}
/* Menu */
.navbar-nav{
    float: right;
    margin-top: 15px;}
.navbar-toggle{
    border-radius: 100%;
    height: 41px;
    margin-right: 20px;
    margin-top: 13px;}
.navbar-nav li a{
    font-size: 18px;}
hr{
    display: none;}
/* Social Icons */
.social-icons{
    display: none;}
.fa{
    position: relative;
    top: -40px;
    float: right;
    padding: 9px;
    font-size: 22px;
    width: 40px;
    height: 39px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #333333;}
.fa:hover{
    opacity: 0.7;}
.fa-facebook{
    margin: 0 50px 0 15px;
    background: #0077B5;
    color: white;}
.fa-instagram{
    margin: 0 15px 0 0;
    background-color: #833ab4;
    color: white;}
/* Button settings */
.service-btn{
    width: 120px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 20px;
    font-size: 16px;
    color: #0288D1;
    border: 0.5px solid #B39DDB;
    border-radius: 20px;
    box-shadow: 0px 15px 10px -10px  rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;}
.service-btn:hover{
    border: 0.5px solid #B39DDB;
    background-color: #D1C4E9;
    color: white;
    box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -5px);}
.btn-default{
    display: block;
    margin: auto;}
/* NOTE: Section - SERVICE */
.service{
    padding: 0;
    border: 1px solid white;}
.service h3{
    font-size: 22px;
    margin: 10px 0;}
.service p{
    font-size: 14px;
    padding: 0 20px;}
.pic{
    width: 100%;
    height: auto;}
/* NOTE: Section - ABOUT */
.about{
    margin-top: 50px;}
.about-pic{
    width: 520px;
    height: 300px;
    background-image: url(img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;}
.about-pic p{
    padding: 90px 50px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: black;}
/* INFO - Modal Button */
.btn-danger{
    position: relative;
    top: -15px;
    display: block;
    margin: auto;}
/* Modal BOX */
.modal-content{
    position: relative;
    top: 150px;
    text-align: center;}
.modal-body p{
    margin: 0;
    padding: 30px 50px;
    color: #333333;}
.modal-body a{
    padding: 5px 15px;
    border-radius: 20px;
    border: 0.5px solid #B39DDB;
    color: #0288D1;}
.modal-body a:hover{
    text-decoration: none;
    background-color: rgba(225, 225, 225, 0.4);}
/* NOTE: Section - TEAM */
.team-pic{
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 1px 3px #999999;
    opacity: 0.9;}
.team{
    margin-top: 50px;
    text-align: center;}
.team-service{
    display: inline-block;
    margin: 0 40px;}
.team-service h3{
    margin: 10px 0 0 0;
    font-size: 18px;}
.team-service p{
    padding: 0 20px;}
.viber{
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;}
/* NOTE: FOOTER */
.footer{
    position: relative;
    bottom: -20px;
    height: 200px;
    background-color: #F5F5F5;
    border-top: 0.3px solid #DCDCDC;}
.footer-logo{
    float: left;
    position: relative;
    left: 20px;
    width: 100px;
    height: auto;
    margin: 35px;}
.footer-contact{
    position: relative;
    top: 20px;
    margin: auto;
    width: 250px;
    height: 80px;}
.footer-contact a{
    color: #0288D1;
    text-decoration: none;}
    :hover{
        text-decoration: none;}
.footer-contact h4, p{
    text-align: center;
    margin: 0;}
.footer-contact p{
    margin-top: 10px;}
.copyright{
    position: relative;
    top: 10px;
    font-size: 12px;}
.copyright a:hover{
    text-decoration: none;}
/* NOTE: Parodontologija, Oralna hirurgija, Protetika */
.sections{
    margin: 0 100px;}
.sections h3{
    margin: 30px;}
.naslov{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;}
.tekst{
    font-size: 16px;
    line-height: 1.40em;
    color: #333;}
.pager{
    margin: 50px 0;}
.pager li{
    padding: 0 15px;}
/* NOTE: SERVICE PAGE - page 2 */
.service-header h2{
    margin: 0;
    padding: 30px 0 0 0;}
.service-menu{
    margin: 30px auto;
    padding: 30px;
    height: auto;
    width: 50%;
    box-shadow: 1px 1px 10px #444444;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;}
.service-menu-estetic{
    margin: 30px auto;
    padding: 30px;
    height: auto;
    width: 50%;
    box-shadow: 1px 1px 10px #444444;
    border-radius: 10px;
    box-sizing: border-box;
}
.service-menu-estetic p{
  text-align: left;
}
.service-photo{
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
    opacity: 0.8;}
.header h1{
    margin: 0;
    font-size: 22px;}
.service_details{
    margin-top: 15px;}
.details{
    margin-top: 15px;
    padding: 0 35px 20px 35px;
    text-align: center;}
.button-service{
    margin-top: 50px;
    margin-bottom: 50px;}
/* NOTE: ABOUT PAGE - page 3 */
.about-team h3{
    margin: 10px 0;}
/* NOTE: CONTACT PAGE - page 4 */
.team-contact{
    margin-bottom: 100px;}
.team-con p{
    padding: 0;}
.map{
    width: 80%;
    height: 400px;
    display: block;
    margin: auto;
    margin-bottom: 100px;}
}
